body {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
    background-color: beige;
}

.cont {
    height: fit-content;
    width: fit-content;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.logo {
    height: auto;
    width: auto;
    flex-direction: row;
    background-color: blue;

}

button {

    background-color: blue;
    color: white;
    border-radius: 10%;
}