body {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    flex-shrink: 1;
    /* box-sizing: border-box; */
}

.hcont {
    height: 100%;
    width: 100%;
    /* margin: 0 10rem; */
    /* padding: 0; */
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    /* justify-content: flex-end; */

}

.logo {

    flex-grow: 2;
    margin: 1rem 10rem;
    min-width: 0;
}

.bcont {
    width: auto;
    /* background-color: aqua; */
    /* padding: 10px; */
    margin: 0 10rem 0 20rem;
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: flex-end;
    min-width: 0;
}

button {

    height: auto;
    width: auto;
    margin: 5px;
    /* padding: 10px; */
    background-color: inherit;
    color: #e5e7eb;
    font-size: 18px;
    border: none;
    text-decoration: none;

}

.button2 {

    height: 30px;
    width: auto;
    margin: 0;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10%;
    text-decoration: none;


}

.bdybox {
    height: auto;
    width: 100%;
    /* max-width: 1200px; */
    /* padding: 0 10rem; */
    margin: 0;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
    /* justify-content: flex-end; */
    /* flex: 1 1; */
    /* min-width: 0; */
}

h1 {
    margin: 0;
}

#boxquote {
    /* how to bold??; */
    color: #f9faf8;
    /* width: 50%; */
    background-color: #1f2937;
    /* padding: 100px; */
    font-size: 28px;
    margin: 2rem 10rem;
    /* box-sizing: border-box; */
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 3;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    /* background-color: #3882f6; */
}

.img {
    width: auto;
    background-color: #1f2937;
    margin: 0 10rem 0 0rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    flex-grow: 3;
    flex-shrink: 1;
}

.bdylite {
    size: 36px;
    color: #1F2937;
    font-weight: 800;
    padding: 1rem 0 1rem 0;
}

.bdylite,
.litecont2,
.litecont {
    display: flex;
    color: #1f2937;
    background-color: white;
    height: 100%;
    width: 100%;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0 0rem 0;
}

.box {
    /* margin: 1rem 10rem; */
    height: 100px;
    width: 100px;
    border: 4px solid;
    /* background-color: #1f2937; */
    border-color: #3882f6;
    border-radius: 10%;
}

.litecont2>div {
    padding: 0 0 2rem 0;
    /* margin: 0 10rem; */
}

.quote {

    /* margin: 4rem; */
    width: 50%;
}

.quote>span {
    font-weight: 800;
}

.quotecon {
    background-color: #E5E7EB;
    margin: 0 4rem 0 4rem;
    width: 100%;
    height: 10rem;
    color: #1f2937;
    font-style: italic;
    font-size: 28px;
    padding: 4rem 4rem 4rem 4rem;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.action {
    background-color: #3882f6;
    color: #E5E7EB;
    width: 60%;
    padding: 4rem;
    margin: 0;
    border-radius: 5%;
    /* display: flex; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.btnbox2 {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 0 0 0 8rem;
    /* margin: 0 4rem; */
    border-radius: 10%;
    margin: 0;
}

.button3 {
    width: 120px;
    height: 60px;
    border: 2px solid;
    border-color: #e5e7eb;
    border-radius: 10%;
}

.atext